section.cards-content.page-block
  .container
    .cards-content__wrapper
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '01.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link Студія в центрі міста
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_free Вільна
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '02.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link 3-х кімнатна увартира в тихому районі міста
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_rent Здана
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '03.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link Затишна квартира
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_booked Заброньована
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '04.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link Студія в центрі міста
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_released Звільняється
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '05.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link Студія в центрі міста
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_free Вільна
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '03.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link Затишна квартира
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_booked Заброньована
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '01.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link Студія в центрі міста
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_free Вільна
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '02.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link 3-х кімнатна увартира в тихому районі міста
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_rent Здана
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '03.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link Затишна квартира
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_booked Заброньована
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '04.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link Студія в центрі міста
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_released Звільняється
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '05.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link Студія в центрі міста
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_free Вільна
      div(data-aos="zoom-in-up").cards-content__card.card
        .card__images
          +image('content/flats', '03.jpeg')
        .card__content
          .card__title
            a(href='#')
              h3.title.title_3.title-black.link Затишна квартира
          .card__table
            span.card__label Кімнат:
            span студія
            span.card__label Район:
            span Центр
            span.card__label Адреса:
            span Васильянок 34
            span.card__label Поверх:
            span 6\9
          .card__footer
            span.card__price 300$
            span.card__status.card__status_booked Заброньована

    include ../modules/pagination