section.contacts.page-block
  .container
    .contacts__header
      h1(data-aos="zoom-in-right").contacts__title.title Контакти
      div(data-aos="zoom-in-left").contacts__image
        +image('common', 'snail-contacts.svg')
      div(data-aos="zoom-in-right").contacts__phone
        span Гаряча лінія
        a(href='tel:+380668254016') +38 066 825 40 16
  .contacts__block
    +image('common', "wave-bg-contacts.svg", 'contacts__wave')
    .container
      h2(data-aos="zoom-in-down").contacts__title-2.title.title_2.title-white Ми в соцмережах
      div(data-aos="zoom-in-up").contacts__social
        a(href='#').contacts__link
          <svg viewBox="0 0 22 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d)">
          <path d="M15.2994 4.76581H17.8231V0.37044C17.3877 0.310545 15.8903 0.175781 14.1464 0.175781C10.5078 0.175781 8.01527 2.46446 8.01527 6.67094V10.5422H4V15.4559H8.01527V27.8196H12.9382V15.4571H16.791L17.4027 10.5434H12.937V7.15816C12.9382 5.73796 13.3206 4.76581 15.2994 4.76581Z" fill="url(#paint0_linear)"/>
          </g>
          <defs>
          <filter id="filter0_d" x="0" y="0.175781" width="21.8231" height="35.6439" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <linearGradient id="paint0_linear" x1="10.9115" y1="0.175781" x2="10.9115" y2="27.8196" gradientUnits="userSpaceOnUse">
          <stop stop-color="#C6FFB2"/>
          <stop offset="1" stop-color="#52D8C5"/>
          </linearGradient>
          </defs>
          </svg>
        a(href='#').contacts__link
          <svg viewBox="0 0 22 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d)">
          <path d="M15.2994 4.76581H17.8231V0.37044C17.3877 0.310545 15.8903 0.175781 14.1464 0.175781C10.5078 0.175781 8.01527 2.46446 8.01527 6.67094V10.5422H4V15.4559H8.01527V27.8196H12.9382V15.4571H16.791L17.4027 10.5434H12.937V7.15816C12.9382 5.73796 13.3206 4.76581 15.2994 4.76581Z" fill="url(#paint0_linear)"/>
          </g>
          <defs>
          <filter id="filter0_d" x="0" y="0.175781" width="21.8231" height="35.6439" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <linearGradient id="paint0_linear" x1="10.9115" y1="0.175781" x2="10.9115" y2="27.8196" gradientUnits="userSpaceOnUse">
          <stop stop-color="#C6FFB2"/>
          <stop offset="1" stop-color="#52D8C5"/>
          </linearGradient>
          </defs>
          </svg>

        a(href='#').contacts__link
          <svg viewBox="0 0 22 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d)">
          <path d="M15.2994 4.76581H17.8231V0.37044C17.3877 0.310545 15.8903 0.175781 14.1464 0.175781C10.5078 0.175781 8.01527 2.46446 8.01527 6.67094V10.5422H4V15.4559H8.01527V27.8196H12.9382V15.4571H16.791L17.4027 10.5434H12.937V7.15816C12.9382 5.73796 13.3206 4.76581 15.2994 4.76581Z" fill="url(#paint0_linear)"/>
          </g>
          <defs>
          <filter id="filter0_d" x="0" y="0.175781" width="21.8231" height="35.6439" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <linearGradient id="paint0_linear" x1="10.9115" y1="0.175781" x2="10.9115" y2="27.8196" gradientUnits="userSpaceOnUse">
          <stop stop-color="#C6FFB2"/>
          <stop offset="1" stop-color="#52D8C5"/>
          </linearGradient>
          </defs>
          </svg>



        a(href='#').contacts__link
          <svg viewBox="0 0 22 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d)">
          <path d="M15.2994 4.76581H17.8231V0.37044C17.3877 0.310545 15.8903 0.175781 14.1464 0.175781C10.5078 0.175781 8.01527 2.46446 8.01527 6.67094V10.5422H4V15.4559H8.01527V27.8196H12.9382V15.4571H16.791L17.4027 10.5434H12.937V7.15816C12.9382 5.73796 13.3206 4.76581 15.2994 4.76581Z" fill="url(#paint0_linear)"/>
          </g>
          <defs>
          <filter id="filter0_d" x="0" y="0.175781" width="21.8231" height="35.6439" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <linearGradient id="paint0_linear" x1="10.9115" y1="0.175781" x2="10.9115" y2="27.8196" gradientUnits="userSpaceOnUse">
          <stop stop-color="#C6FFB2"/>
          <stop offset="1" stop-color="#52D8C5"/>
          </linearGradient>
          </defs>
          </svg>



        a(href='#').contacts__link
          <svg viewBox="0 0 22 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d)">
          <path d="M15.2994 4.76581H17.8231V0.37044C17.3877 0.310545 15.8903 0.175781 14.1464 0.175781C10.5078 0.175781 8.01527 2.46446 8.01527 6.67094V10.5422H4V15.4559H8.01527V27.8196H12.9382V15.4571H16.791L17.4027 10.5434H12.937V7.15816C12.9382 5.73796 13.3206 4.76581 15.2994 4.76581Z" fill="url(#paint0_linear)"/>
          </g>
          <defs>
          <filter id="filter0_d" x="0" y="0.175781" width="21.8231" height="35.6439" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <linearGradient id="paint0_linear" x1="10.9115" y1="0.175781" x2="10.9115" y2="27.8196" gradientUnits="userSpaceOnUse">
          <stop stop-color="#C6FFB2"/>
          <stop offset="1" stop-color="#52D8C5"/>
          </linearGradient>
          </defs>
          </svg>


  .container
    div(data-aos="zoom-in-right").contacts__adress
      span м.Івано-Франківськ вул. Незалежності, 35


  .container
    div(data-aos="zoom-in-up").contacts__button
      button(data-modal='#request').button.button_1.modal-open
        span Залишити заявку


