section.cookie
    .cookie__wrapper
        .container
            .cookie__body
                p Ми використовуємо ваші файли Cookies для того, щоб адаптувати наш сайт для вас найкращим чином.
                button.button.button_2
                    span Гаразд
