section.interesting.slider-block.page-block
  .container
    .slider-block__header
      h2(data-aos="zoom-in-right").slider-block__title.title.title_2 Що в нас є цікавого?
      div(data-aos="zoom-in-left").slider-block__icon
        +image('common', 'interesting-icon.svg')
  .slider-block__body
    .container
      div(data-aos="zoom-in-right").slider-block__slider.interesting__slider
        .swiper
          .swiper-wrapper
            .swiper-slide
              .slider-block__card.card
                .card__images
                  +image('content/flats', '01.jpeg')
                .card__content
                  .card__title
                    a(href='#')
                      h3.title.title_3.title-black.link Студія в центрі міста
                  .card__table
                    span.card__label Кімнат:
                    span студія
                    span.card__label Район:
                    span Центр
                    span.card__label Адреса:
                    span Васильянок 34
                    span.card__label Поверх:
                    span 6\9
                  .card__footer
                    span.card__price 300$
                    span.card__status.card__status_free Вільна
            .swiper-slide
              .slider-block__card.card
                .card__images
                  +image('content/flats', '02.jpeg')
                .card__content
                  .card__title
                    a(href='#')
                      h3.title.title_3.title-black.link 3-х кімнатна увартира в тихому районі міста
                  .card__table
                    span.card__label Кімнат:
                    span студія
                    span.card__label Район:
                    span Центр
                    span.card__label Адреса:
                    span Васильянок 34
                    span.card__label Поверх:
                    span 6\9
                  .card__footer
                    span.card__price 300$
                    span.card__status.card__status_rent Здана
            .swiper-slide
              .slider-block__card.card
                .card__images
                  +image('content/flats', '03.jpeg')
                .card__content
                  .card__title
                    a(href='#')
                      h3.title.title_3.title-black.link Затишна квартира
                  .card__table
                    span.card__label Кімнат:
                    span студія
                    span.card__label Район:
                    span Центр
                    span.card__label Адреса:
                    span Васильянок 34
                    span.card__label Поверх:
                    span 6\9
                  .card__footer
                    span.card__price 300$
                    span.card__status.card__status_booked Заброньована
            .swiper-slide
              .slider-block__card.card
                .card__images
                  +image('content/flats', '04.jpeg')
                .card__content
                  .card__title
                    a(href='#')
                      h3.title.title_3.title-black.link Студія в центрі міста
                  .card__table
                    span.card__label Кімнат:
                    span студія
                    span.card__label Район:
                    span Центр
                    span.card__label Адреса:
                    span Васильянок 34
                    span.card__label Поверх:
                    span 6\9
                  .card__footer
                    span.card__price 300$
                    span.card__status.card__status_released Звільняється
            .swiper-slide
              .slider-block__card.card
                .card__images
                  +image('content/flats', '05.jpeg')
                .card__content
                  .card__title
                    a(href='#')
                      h3.title.title_3.title-black.link Студія в центрі міста
                  .card__table
                    span.card__label Кімнат:
                    span студія
                    span.card__label Район:
                    span Центр
                    span.card__label Адреса:
                    span Васильянок 34
                    span.card__label Поверх:
                    span 6\9
                  .card__footer
                    span.card__price 300$
                    span.card__status.card__status_free Вільна
            .swiper-slide
              .slider-block__card.card
                .card__images
                  +image('content/flats', '05.jpeg')
                .card__content
                  .card__title
                    a(href='#')
                      h3.title.title_3.title-black.link Студія в центрі міста
                  .card__table
                    span.card__label Кімнат:
                    span студія
                    span.card__label Район:
                    span Центр
                    span.card__label Адреса:
                    span Васильянок 34
                    span.card__label Поверх:
                    span 6\9
                  .card__footer
                    span.card__price 300$
                    span.card__status.card__status_free Вільна
            .swiper-slide
              .slider-block__card.card
                .card__images
                  +image('content/flats', '05.jpeg')
                .card__content
                  .card__title
                    a(href='#')
                      h3.title.title_3.title-black.link Студія в центрі міста
                  .card__table
                    span.card__label Кімнат:
                    span студія
                    span.card__label Район:
                    span Центр
                    span.card__label Адреса:
                    span Васильянок 34
                    span.card__label Поверх:
                    span 6\9
                  .card__footer
                    span.card__price 300$
                    span.card__status.card__status_free Вільна
          .swiper-pagination
          .swiper-button-prev
            +icon('slider-prev')
          .swiper-button-next
            +icon('slider-next')



