extends ../layout/question
block variables
  - var question = "Не вистачає гарантій?"
  - var answer = "І як вишенька на торті - надаємо гарантію на наші послуги. У випадку форс-мажорів ми переселимо Вас в нове житло абсолютно без комісій."
  - var type = ""