extends ../layout/question
block variables
  - var question = "Не хочете платити більше?"
  - var answer = "Ці квартири будуть за цінами, які відповідають ринку. Ми проводимо якісний аналіз квартир, тому можна відпочити від невиправдано космічних цін."
  - var type = "wave"