section(data-aos="zoom-in-up").pagination
  .pagination__wrapper
    a(href='/orenda-gulp/dist/results.html?' data-value="paggi-one").pagination__item.active 1
    a(href='/orenda-gulp/dist/results.html?page=2').pagination__item 2
    a(href='/orenda-gulp/dist/results.html?page=3').pagination__item 3
    a(href='/orenda-gulp/dist/results.html?page=4').pagination__item 4