extends ../layout/question
block variables
  - var question = "Фото часто не відповідають реальності?"
  - var answer = "Для ще більшої зручності наші контент-менеджери роблять професійну фото та відеозйомку квартир. Не витрачайте більше час на беззмістовні огляди."
  - var type = ""