extends ../layout/question
block variables
  - var question = "Важлива безпека?"
  - var answer = "Гарантуємо Вашу безпеку, адже заключаємо договір оренди при заселенні. Більше того, працюємо тільки з перевіреними квартирами та орендодавцями. "
  - var type = "wave"