section.single-card.card-single.page-block


  .container
    .card-single__wrapper
      div(data-aos="zoom-in-left").card-single__slider.slider-card-single
        .swiper
          .swiper-wrapper.card-single__galler
            .swiper-slide
              .card-single__photo
                a(href='static/images/content/flats/01.jpeg' class="glightbox-single-caard")
                  +image('content/flats', '01.jpeg')
            .swiper-slide
              .card-single__photo
                a(href='static/images/content/flats/02.jpeg' class="glightbox-single-caard")
                  +image('content/flats', '02.jpeg')
            .swiper-slide
              .card-single__photo
                a(href='static/images/content/flats/03.jpeg' class="glightbox-single-caard")
                  +image('content/flats', '03.jpeg')
            .swiper-slide
              .card-single__photo
                a(href='static/images/content/flats/04.jpeg' class="glightbox-single-caard")
                  +image('content/flats', '04.jpeg')
          .swiper-pagination
      span.card-single__index 29909763


    div(data-aos="zoom-in-right").card-single__inline
      h1.card-single__title.title.title-black 3 к. квартира з меблями
      .card-single__share.share
        .share__trigger
          <svg viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M26.1329 6.98107C26.1329 7.52551 26.2044 8.0549 26.3393 8.56175L13.0085 15.5284C11.6987 14.3651 9.91434 13.6483 7.95039 13.6483C3.93969 13.6483 0.677734 16.6381 0.677734 20.3149C0.677734 23.9917 3.93969 26.9815 7.95039 26.9815C9.91495 26.9815 11.6998 26.2643 13.0097 25.1004L26.3394 32.0663C26.2044 32.5734 26.1328 33.1031 26.1328 33.6478C26.1328 37.3243 29.3944 40.3145 33.4055 40.3145C37.4165 40.3145 40.6781 37.3243 40.6781 33.6478C40.6781 29.9711 37.4165 26.9809 33.4055 26.9809C31.2948 26.9809 29.3917 27.8089 28.0621 29.1291L14.9093 22.2556C15.1135 21.6414 15.2234 20.9897 15.2234 20.3149C15.2234 19.6395 15.1133 18.9873 14.9088 18.3726L28.0616 11.4991C29.3912 12.8198 31.2946 13.648 33.4055 13.648C37.4166 13.648 40.6782 10.6579 40.6782 6.98107C40.6782 3.30459 37.4166 0.314453 33.4055 0.314453C29.3945 0.314453 26.1329 3.30459 26.1329 6.98107Z" fill="#A04B82"/>
          </svg>
        .share__container
          a(href='#').share__social-link
            <svg viewBox="0 0 10 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.16506 3.3959H9.98867V0.219764C9.67405 0.176483 8.59204 0.0791016 7.3319 0.0791016C4.70261 0.0791016 2.90147 1.73292 2.90147 4.77255V7.56998H0V11.1207H2.90147V20.0548H6.4588V11.1215H9.24291L9.68487 7.57081H6.45797V5.12462C6.4588 4.09837 6.73513 3.3959 8.16506 3.3959Z" fill="url(#paint0_linear)"/>
            <defs>
            <linearGradient id="paint0_linear" x1="-5.08093" y1="-6.27404" x2="8.7504" y2="24.1549" gradientUnits="userSpaceOnUse">
            <stop stop-color="#C6FFB2"/>
            <stop offset="1" stop-color="#52D8C5"/>
            </linearGradient>
            </defs>
            </svg>
          a(href='#').share__social-link
            <svg viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.99435 11.7524L7.66392 16.4001C8.13668 16.4001 8.34143 16.197 8.58696 15.9531L10.8034 13.8349L15.3962 17.1983C16.2385 17.6677 16.8319 17.4205 17.0591 16.4234L20.0738 2.29724L20.0746 2.29641C20.3418 1.05126 19.6243 0.564352 18.8037 0.869813L1.0836 7.65405C-0.125758 8.12348 -0.107447 8.79766 0.878019 9.10312L5.40833 10.5122L15.9313 3.92776C16.4266 3.59982 16.8769 3.78127 16.5065 4.1092L7.99435 11.7524Z" fill="url(#paint0_linear)"/>
            <defs>
            <linearGradient id="paint0_linear" x1="14.8536" y1="16.1339" x2="2.48677" y2="-6.80983" gradientUnits="userSpaceOnUse">
            <stop stop-color="#52D8C5"/>
            <stop offset="1" stop-color="#C6FFB2"/>
            </linearGradient>
            </defs>
            </svg>
          a(href='#').share__social-link
            <svg viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2914 5.63965C7.45906 5.63965 5.16602 7.93519 5.16602 10.7651C5.16602 13.5975 7.46155 15.8905 10.2914 15.8905C13.1238 15.8905 15.4169 13.595 15.4169 10.7651C15.4169 7.93269 13.1213 5.63965 10.2914 5.63965ZM10.2914 14.0919C8.45285 14.0919 6.96466 12.6028 6.96466 10.7651C6.96466 8.92731 8.45368 7.43829 10.2914 7.43829C12.1292 7.43829 13.6182 8.92731 13.6182 10.7651C13.6191 12.6028 12.13 14.0919 10.2914 14.0919Z" fill="url(#paint0_linear)"/>
            <path d="M14.4061 0.843996C12.5684 0.758267 8.01643 0.762428 6.177 0.843996C4.56064 0.919737 3.13487 1.31009 1.98544 2.45953C0.0644473 4.38052 0.309982 6.96904 0.309982 10.7652C0.309982 14.6505 0.0935786 17.1791 1.98544 19.071C3.91393 20.9986 6.53989 20.7464 10.2912 20.7464C14.1398 20.7464 15.4682 20.7489 16.829 20.2221C18.6793 19.5038 20.0759 17.85 20.2124 14.8794C20.299 13.0408 20.294 8.48969 20.2124 6.65026C20.0476 3.1437 18.1657 1.01712 14.4061 0.843996ZM17.3151 17.8C16.0558 19.0593 14.3088 18.9469 10.267 18.9469C6.10542 18.9469 4.43662 19.0085 3.21894 17.7875C1.81648 16.3917 2.07034 14.1503 2.07034 10.7519C2.07034 6.15336 1.59841 2.84156 6.21363 2.60518C7.274 2.56773 7.58612 2.55525 10.2554 2.55525L10.2928 2.58021C14.7283 2.58021 18.2082 2.11578 18.4171 6.73016C18.4645 7.78305 18.4754 8.09933 18.4754 10.7644C18.4745 14.8777 18.5528 16.5565 17.3151 17.8Z" fill="url(#paint1_linear)"/>
            <path d="M15.6196 6.63565C16.2811 6.63565 16.8173 6.09942 16.8173 5.43794C16.8173 4.77647 16.2811 4.24023 15.6196 4.24023C14.9581 4.24023 14.4219 4.77647 14.4219 5.43794C14.4219 6.09942 14.9581 6.63565 15.6196 6.63565Z" fill="url(#paint2_linear)"/>
            <defs>
            <linearGradient id="paint0_linear" x1="10.2914" y1="5.63965" x2="10.2914" y2="15.8905" gradientUnits="userSpaceOnUse">
            <stop stop-color="#52D8C5"/>
            <stop offset="1" stop-color="#C6FFB2"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="15.351" y1="14.0185" x2="-3.19922" y2="-12.6678" gradientUnits="userSpaceOnUse">
            <stop stop-color="#52D8C5"/>
            <stop offset="1" stop-color="#C6FFB2"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="15.6196" y1="4.24023" x2="15.6196" y2="6.63565" gradientUnits="userSpaceOnUse">
            <stop stop-color="#52D8C5"/>
            <stop offset="1" stop-color="#C6FFB2"/>
            </linearGradient>
            </defs>
            </svg>
          a(href='#').share__social-link
            <svg viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.5673 12.3557C19.1632 7.33927 18.281 4.17229 16.6896 2.73987L16.6904 2.73904C14.1219 0.292852 5.44743 -0.0692076 2.3745 2.84891C0.994519 4.27633 0.508444 6.37128 0.455175 8.96479C0.401907 11.5591 0.338651 16.419 4.8673 17.7374H4.87146L4.8673 19.7508C4.8673 19.7508 4.83651 20.5665 5.35754 20.7305C5.95348 20.9236 6.22315 20.5449 8.07673 18.3309C11.1763 18.5997 13.5567 17.9838 13.8272 17.8939C14.4531 17.6842 17.9946 17.2156 18.5673 12.3557ZM8.38219 16.9143C8.38219 16.9143 6.42041 19.3605 5.81032 19.9955C5.61056 20.2019 5.39166 20.1828 5.39499 19.7733C5.39499 19.5045 5.40997 16.4307 5.40997 16.4307C1.57048 15.3304 1.79687 11.1921 1.83849 9.02722C1.88011 6.86152 2.27629 5.08785 3.44487 3.89347C6.14075 1.36571 13.7457 1.93086 15.6833 3.75197C18.0521 5.85191 17.2089 11.7847 17.2139 11.9869C16.727 16.0437 13.8572 16.3009 13.3295 16.4765C13.1039 16.5514 11.0107 17.0899 8.38219 16.9143Z" fill="url(#paint0_linear)"/>
            <path d="M9.46787 4.36816C9.14743 4.36816 9.14743 4.86756 9.46787 4.87172C11.954 4.89086 14.0015 6.62375 14.024 9.80238C14.024 10.1378 14.5151 10.1336 14.5109 9.79822H14.5101C14.4834 6.37322 12.2478 4.38731 9.46787 4.36816Z" fill="url(#paint1_linear)"/>
            <path d="M12.7379 9.27595C12.7304 9.60721 13.2207 9.62303 13.2248 9.2876C13.2656 7.39907 12.1012 5.84346 9.91302 5.6795C9.59258 5.65619 9.55928 6.15974 9.8789 6.18305C11.7766 6.32704 12.7762 7.62213 12.7379 9.27595Z" fill="url(#paint2_linear)"/>
            <path d="M12.2132 11.424C11.802 11.1859 11.3834 11.3341 11.2102 11.568L10.8482 12.0366C10.6642 12.2746 10.3205 12.243 10.3205 12.243C7.81187 11.5796 7.14102 8.95449 7.14102 8.95449C7.14102 8.95449 7.11022 8.59909 7.33994 8.40849L7.79272 8.03394C8.01912 7.85416 8.16227 7.42135 7.93172 6.99604C7.31581 5.88323 6.90214 5.49953 6.69157 5.20489C6.47017 4.92773 6.13724 4.8653 5.791 5.05257H5.78351C5.06355 5.47373 4.27534 6.26193 4.52754 7.07345C4.95784 7.92907 5.74855 10.6566 8.26881 12.7174C9.4532 13.6921 11.3276 14.6908 12.1233 14.9214L12.1308 14.933C12.9148 15.1944 13.6772 14.3754 14.0842 13.6338V13.628C14.2648 13.2692 14.2049 12.9296 13.9411 12.7074C13.4733 12.2513 12.7675 11.7478 12.2132 11.424Z" fill="url(#paint3_linear)"/>
            <path d="M10.2551 7.53729C11.055 7.5839 11.4428 8.00172 11.4844 8.85984C11.4994 9.19527 11.9863 9.17196 11.9713 8.83654C11.9181 7.71624 11.3338 7.092 10.2817 7.03374C9.96129 7.01459 9.93132 7.51815 10.2551 7.53729Z" fill="url(#paint4_linear)"/>
            <defs>
            <linearGradient id="paint0_linear" x1="16.9871" y1="9.78776" x2="-3.51581" y2="-11.366" gradientUnits="userSpaceOnUse">
            <stop stop-color="#52D8C5"/>
            <stop offset="1" stop-color="#C6FFB2"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="11.8692" y1="4.36816" x2="11.8692" y2="10.0519" gradientUnits="userSpaceOnUse">
            <stop stop-color="#52D8C5"/>
            <stop offset="1" stop-color="#C6FFB2"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="11.4406" y1="5.67871" x2="11.4406" y2="9.53189" gradientUnits="userSpaceOnUse">
            <stop stop-color="#52D8C5"/>
            <stop offset="1" stop-color="#C6FFB2"/>
            </linearGradient>
            <linearGradient id="paint3_linear" x1="12.4307" y1="9.96402" x2="1.36564" y2="-2.57934" gradientUnits="userSpaceOnUse">
            <stop stop-color="#52D8C5"/>
            <stop offset="1" stop-color="#C6FFB2"/>
            </linearGradient>
            <linearGradient id="paint4_linear" x1="10.999" y1="7.0332" x2="10.999" y2="9.10006" gradientUnits="userSpaceOnUse">
            <stop stop-color="#52D8C5"/>
            <stop offset="1" stop-color="#C6FFB2"/>
            </linearGradient>
            </defs>
            </svg>


    div(data-aos="zoom-in-right").card-single__inline.card-single__inline_2
      span.card-single__price.title.title_2 300$
      span.card-single__status.card__status.card__status_free Вільна
    div(data-aos="zoom-in-left").card-single__options-wrapper
      .card-single__options
        span.card-single__label Кімнат:
        span 3
        span.card-single__label Район:
        span Центр
        span.card-single__label Адреса:
        span Васильянок 34
        span.card-single__label Поверх:
        span 6\9
        span.card-single__label Площа:
        span 60m²
      a(href="#video").button.button_2.button_video
        span Відеоогляд
        +icon('video-button')

    div(data-aos="zoom-in-right").card-single__tags
      span.card-single__tag кондиціонер
      span.card-single__tag вана
      span.card-single__tag інд.опалення
      span.card-single__tag WI-FI
      span.card-single__tag панорамні вікна
      span.card-single__tag пральна машина
      span.card-single__tag підігрів підлоги
      span.card-single__tag паркінг
      span.card-single__tag гараж
      span.card-single__tag душ
      span.card-single__tag двоспальне ліжко
      span.card-single__tag посудомийка
      span.card-single__tag тераса
      span.card-single__tag духовка

    h2(data-aos="zoom-in-left").card-single__title-2.title.title_2 Для рієлтора:

  div(data-aos="zoom-in-left").card-single__rieltor.rieltor-block
    .container
      .rieltor-block__wrapper
        .rieltor-block__contacts
          .rieltor-block__block
            .rieltor-block__name Андрій
            a(href="tel:+380500568734").rieltor-block__phone +38 096 022 44 27
            a(href="tel:+380500568734").rieltor-block__phone +38 096 022 44 27
          .rieltor-block__block
            .rieltor-block__name Тетяна
            a(href="tel:+380500568734").rieltor-block__phone +38 096 022 44 27
            a(href="tel:+380500568734").rieltor-block__phone +38 096 022 44 27
        .rieltor-block__actions
          button.rieltor-block__button.button.button_2
            span Додати в лістинг
          button(data-modal='#fix').rieltor-block__button.button.button_2.button_yellow.modal-open
            span Зафіксувати показ
          button(data-modal='#book').rieltor-block__button.button.button_2.button_red.modal-open
            span Забронювати
          button.rieltor-block__button.button.button_2.button_blue
            span Угода
  div(data-aos="zoom-in-right").container
    h2.card-single__title-2.title.title_2 Опис:
    .card-single__description
      .card-single__description-wrapper.body-expand
        p іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        p іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        p іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      .card-single__icon.expand-icon
        +icon('expand-arrow')

    a(href='tel:+380665465429').card-single__contact +38 095 222 45 22

  div(data-aos="zoom-in-left").card-single__video#video
    .container
      h2.title.title_2.title-white.card-single__title-2 Відеоогляд:
      .card-single__video-container
        .video-player(data-plyr-provider="youtube" data-plyr-embed-id="XnSTfwI9cPo")

  div(data-aos="zoom-in-right").card-single__order-button
    button(data-modal='#order-show').button.button_1.modal-open
      span Замовити показ


  .container
    div(data-aos="zoom-in-left").card-single__map
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49799.385807218314!2d-96.72694116488412!3d40.82102412778144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796bee395e0c12b%3A0x6820d293c041239!2z0JHQuNCx0LvQuNC-0YLQtdC60LAg0JTQvtC9INCb0LDQsiDQnNC10LzQvtGA0LjQsNC7!5e0!3m2!1sru!2sua!4v1631209482507!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

