section.single-card.card-single.page-block


  .container
    .card-single__wrapper
      .card-single__slider.slider-card-single
        .swiper
          .swiper-wrapper.card-single__galler
            .swiper-slide
              .card-single__photo
                a(href='static/images/content/flats/01.jpeg' class="glightbox-single-caard")
                  +image('content/flats', '01.jpeg')
            .swiper-slide
              .card-single__photo
                a(href='static/images/content/flats/02.jpeg' class="glightbox-single-caard")
                  +image('content/flats', '02.jpeg')
            .swiper-slide
              .card-single__photo
                a(href='static/images/content/flats/03.jpeg' class="glightbox-single-caard")
                  +image('content/flats', '03.jpeg')
            .swiper-slide
              .card-single__photo
                a(href='static/images/content/flats/04.jpeg' class="glightbox-single-caard")
                  +image('content/flats', '04.jpeg')
          .swiper-pagination
      span.card-single__index 29909763


    .card-single__inline
      h1.card-single__title.title.title-black 3 к. квартира з меблями
      .card-single__share
        <svg viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.1329 6.98107C26.1329 7.52551 26.2044 8.0549 26.3393 8.56175L13.0085 15.5284C11.6987 14.3651 9.91434 13.6483 7.95039 13.6483C3.93969 13.6483 0.677734 16.6381 0.677734 20.3149C0.677734 23.9917 3.93969 26.9815 7.95039 26.9815C9.91495 26.9815 11.6998 26.2643 13.0097 25.1004L26.3394 32.0663C26.2044 32.5734 26.1328 33.1031 26.1328 33.6478C26.1328 37.3243 29.3944 40.3145 33.4055 40.3145C37.4165 40.3145 40.6781 37.3243 40.6781 33.6478C40.6781 29.9711 37.4165 26.9809 33.4055 26.9809C31.2948 26.9809 29.3917 27.8089 28.0621 29.1291L14.9093 22.2556C15.1135 21.6414 15.2234 20.9897 15.2234 20.3149C15.2234 19.6395 15.1133 18.9873 14.9088 18.3726L28.0616 11.4991C29.3912 12.8198 31.2946 13.648 33.4055 13.648C37.4166 13.648 40.6782 10.6579 40.6782 6.98107C40.6782 3.30459 37.4166 0.314453 33.4055 0.314453C29.3945 0.314453 26.1329 3.30459 26.1329 6.98107Z" fill="#A04B82"/>
        </svg>

    .card-single__inline.card-single__inline_2
      span.card-single__price.title.title_2 300$
      span.card-single__status.card__status.card__status_free Вільна
    .card-single__options-wrapper
      .card-single__options
        span.card-single__label Кімнат:
        span 3
        span.card-single__label Район:
        span Центр
        span.card-single__label Адреса:
        span Васильянок 34
        span.card-single__label Поверх:
        span 6\9
        span.card-single__label Площа:
        span 60m²
      a(href="#video").button.button_2.button_video
        span Відеоогляд
        +icon('video-button')

    .card-single__tags
      span.card-single__tag кондиціонер
      span.card-single__tag вана
      span.card-single__tag інд.опалення
      span.card-single__tag WI-FI
      span.card-single__tag панорамні вікна
      span.card-single__tag пральна машина
      span.card-single__tag підігрів підлоги
      span.card-single__tag паркінг
      span.card-single__tag гараж
      span.card-single__tag душ
      span.card-single__tag двоспальне ліжко
      span.card-single__tag посудомийка
      span.card-single__tag тераса
      span.card-single__tag духовка

    h2.card-single__title-2.title.title_2 Для рієлтора:

  .card-single__rieltor.rieltor-block
    .container
      .rieltor-block__wrapper
        .rieltor-block__contacts
          .rieltor-block__block
            .rieltor-block__name Андрій
            a(href="tel:+380500568734").rieltor-block__phone +38 096 022 44 27
            a(href="tel:+380500568734").rieltor-block__phone +38 096 022 44 27
          .rieltor-block__block
            .rieltor-block__name Тетяна
            a(href="tel:+380500568734").rieltor-block__phone +38 096 022 44 27
            a(href="tel:+380500568734").rieltor-block__phone +38 096 022 44 27
        .rieltor-block__actions
          button.rieltor-block__button.button.button_2
            span Додати в лістинг
          button(data-modal='#fix').rieltor-block__button.button.button_2.button_yellow.modal-open
            span Зафіксувати показ
          button(data-modal='#book').rieltor-block__button.button.button_2.button_red.modal-open
            span Забронювати
          button.rieltor-block__button.button.button_2.button_blue
            span Угода
  .container
    h2.card-single__title-2.title.title_2 Опис:
    .card-single__description
      .card-single__description-wrapper.body-expand
        p іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        p іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        p іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum іLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      .card-single__icon.expand-icon
        +icon('expand-arrow')

    a(href='tel:+380665465429').card-single__contact +38 095 222 45 22

  .card-single__video#video
    .container
      h2.title.title_2.title-white.card-single__title-2 Відеоогляд:
      .card-single__video-container
        #player.vlite-js(data-youtube-id="XnSTfwI9cPo")

  .card-single__order-button
    button(data-modal='#order-show').button.button_1.modal-open
      span Замовити показ


  .container
    .card-single__map
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49799.385807218314!2d-96.72694116488412!3d40.82102412778144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796bee395e0c12b%3A0x6820d293c041239!2z0JHQuNCx0LvQuNC-0YLQtdC60LAg0JTQvtC9INCb0LDQsiDQnNC10LzQvtGA0LjQsNC7!5e0!3m2!1sru!2sua!4v1631209482507!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

