extends ../layout/question
block variables
  - var question = "Хто ми?"
  - var answer = "Ми - сервіс з оренди житла і наша головна ціль - зробити так, щоб твій дім був там, де ти. Вже цілих 15 років ми робимо все, щоб забезпечити Вас найкращим сервісом."
  - var type = ""
