extends ../layout/question
block variables
  - var question = "Чому ми?"
  - var answer = "Протягом року заключаємо більше 1000 успішних угод. Все завдяки цілій команді професіоналів, які допомагають знайти Вам ідеальне житло."
  - var type = "wave"
