.card {
  color: #000000c2;
  font-size: toRem(15);
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0 0 5px rgba(0,0,0,.15));
  display: flex;
  flex-direction: column;
  height: 100%;
  &__images {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  span {
    font-weight: 300;
    line-height: 100%;
  }
  &__content {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    @include create-mq(768) {
      padding: 15px 15px 30px 15px;
    }
  }
  &__title {
    margin: 0 0 toEm(15) 0;
    flex-grow: 1;
    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @include create-mq(768) {
        font-size: toRem(22);
      }
    }
  }
  &__table {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    align-items: baseline;
    margin: 0 0 25px 0;
    @include create-mq(768) {
      grid-row-gap: 15px;
    }
  }
  &__label {
    font-weight: 600!important;
    @include create-mq(768) {
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    color: #A04B82;
    font-size: toRem(22);
    font-weight: 700!important;
    @include create-mq(768) {

    }
  }
  &__status {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.13);
    padding: toEm(10, 18) toEm(15, 18);
    border-radius: toEm(20, 18);
    font-size: toRem(18);
    font-weight: 700!important;
    background-color: #FFFFFF;
    &_free {
      color: #58eda0;
    }
    &_rent {
      color: #FF6B6B;
    }
    &_booked {
      color: #7A8EF9;
    }
    &_released {
      color: #FFBD6F;
    }
  }
}