.page-block {
  margin: 0 0 30px 0;
  @include create-mq(768) {
    margin: 0 0 70px 0;
  }
  @include create-mq(992) {
    margin: 0 0 100px 0;
  }
}

.title {
  font-weight: 700;
  font-size: toRem(26);
  color: #A04B82;
  line-height: 110%;
  @include create-mq(768) {
    font-size: toRem(40);
  }
  @include create-mq(992) {
    font-size: toRem(50);
  }
  &_2 {
    font-size: toRem(22);
    letter-spacing: 1px;
    @include create-mq(768) {
      font-size: toRem(28);
    }
    @include create-mq(992) {
      font-size: toRem(35);
    }
  }
  &_3 {
    font-size: toRem(18);
    line-height: 100%;
    @include create-mq(768) {
      font-size: toRem(22);
    }
    @include create-mq(992) {
      font-size: toRem(28);
    }
  }
  &_4 {
    font-size: toRem(18);
    line-height: 100%;
    @include create-mq(768) {
      font-size: toRem(24);
    }
    @include create-mq(992) {
      font-size: toRem(25);
    }
  }
  &-black {
    color: #000000;
  }
  &-white {
    color: #ffffff;
  }
}

.button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  display: inline-flex;
  font-size: toRem(15);
  line-height: 100%;
  font-weight: 500;
  padding: toEm(11, 15) toEm(30, 15);
  border-radius: toEm(23, 15);
  transition: all .2s ease-out;
  letter-spacing: 1px;
  white-space: nowrap;
  text-transform: uppercase;
  @include create-mq(992) {
    font-size: toRem(18);
  }
  span {
    transition: inherit;
  }


  &_no-shadow {
    //box-shadow: none;
  }
  &_1 {
    background: #BB6A9F;
    border: 2px solid #BB6A9F;
    transition: all .2s ease-out;
    @include create-mq(992) {
      &:hover {
        background: #FFFFFF;
        color: #BB6A9F;
        span {
          transform: translateY(toEm(-2));
        }
      }
    }
  }
  &_2 {
    border: 2px solid #58EDA0;
    background-color: #FFFFFF;
    color: #58EDA0;
    transition: all .2s ease-out;
    @include create-mq(992) {
      &:hover {
        background-color: #58EDA0;
        color: #FFFFFF;
      }
    }
  }

  &_yellow {
    &:before {
      background: linear-gradient(274.71deg, #FFBD6F 0.94%, #C6FFB2 243.11%);
    }
    &:after {
      background: #BB6A9F;
    }
  }
  &_red {
    &:before {
      background: linear-gradient(279.42deg, #FF6B6B -43.59%, #D6FFC8 267.23%);
    }
    &:after {
      background: #BB6A9F;
    }
  }
  &_blue {
    &:before {
      background: linear-gradient(287.77deg, #7A8EF9 -63.08%, #D6FFC8 248.67%);
    }
    &:after {
      background: #BB6A9F;
    }
  }

  &_video {
    span {
      margin: 0 toEm(7) 0 0;
    }
    svg {
      width: toEm(15);
      height: toEm(15);
      z-index: 5;
    }
  }
}

// LINKS ---------

.phone {
  display: flex;
  align-items: center;
  font-weight: 700;
  svg {
    margin: 0 10px 0 0;
    transition: all .2s ease-out;
  }
  a {
    display: flex;
    align-items: center;
    color: #A04B82;
    text-decoration: none;
    transition: all .2s ease-out;
    @include create-mq(992) {
      &:hover {
        color: #52D8C5;
        svg {
          fill: #52D8C5;
        }
      }
    }
  }
}

.link {
  text-decoration: none;
  transition: color .2s ease-out;
  @include create-mq(992) {
    &:hover {
      color: #A04B82;
    }
  }
}