.page-block {
  margin: 0 0 30px 0;
  @include create-mq(768) {
    margin: 0 0 70px 0;
  }
  @include create-mq(992) {
    margin: 0 0 100px 0;
  }
}

.title {
  font-size: toRem(28);
  font-weight: 700;
  color: #A04B82;
  line-height: 110%;
  @include create-mq(768) {
    font-size: toRem(40);
  }
  @include create-mq(992) {
    font-size: toRem(50);
  }
  &_2 {
    font-size: toRem(22);
    letter-spacing: 1px;
    @include create-mq(768) {
      font-size: toRem(28);
    }
    @include create-mq(992) {
      font-size: toRem(35);
    }
  }
  &_3 {
    font-size: toRem(18);
    line-height: 120%;
    @include create-mq(768) {
      font-size: toRem(22);
    }
    @include create-mq(992) {
      font-size: toRem(28);
    }
  }
  &_4 {
    font-size: toRem(18);
    line-height: 100%;
    @include create-mq(768) {
      font-size: toRem(22);
    }
    @include create-mq(992) {
      font-size: toRem(24);
    }
  }
  &-black {
    color: #000000c2;
  }
  &-white {
    color: #ffffff;
  }
}

.button {
  background: #BB6A9F;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  display: inline-flex;
  font-size: toRem(15);
  line-height: 100%;
  font-weight: 600;
  padding: toEm(11, 15) toEm(30, 15);
  border-radius: toEm(23, 15);
  transition: all .2s ease-out;
  letter-spacing: 1px;
  white-space: nowrap;
  text-transform: uppercase;
  @include create-mq(992) {
    font-size: toRem(18);
  }
  span {
    transition: inherit;
  }
  &_1 {
    border: 2px solid #BB6A9F;
    padding: toEm(11, 15) toEm(30, 15);
    @include create-mq(992) {
      &:hover {
        background: #FFFFFF;
        color: #BB6A9F;
        span {
          transform: translateY(toEm(-2));
        }
      }
    }
  }
  &_2 {
    border: 2px solid #58EDA0;
    background-color: #58EDA0;
    color: #FFFFFF;
    padding: toEm(10, 15) toEm(20, 15);
    @include create-mq(992) {
      font-size: toRem(15);
      &:hover {
        background-color: #FFFFFF;
        color: #58EDA0;
        span {
          transform: translateY(toEm(-2));
        }
      }
    }
  }

  &_yellow {
    background: #FFBD6F;
    border-color: #FFBD6F;
    color: #FFFFFF;
    &:hover {
      color: #FFBD6F!important;
    }
  }
  &_red {
    background: #FF6B6B;
    border-color: #FF6B6B;
    color: #FFFFFF;
    &:hover {
      color: #FF6B6B!important;
    }
  }
  &_blue {
    background: #7A8EF9;
    border-color: #7A8EF9;
    color: #FFFFFF;
    &:hover {
      color: #7A8EF9!important;
    }
  }

  &_video {
    span {
      margin: 0 toEm(7) 0 0;
    }
    svg {
      width: toEm(15);
      height: toEm(15);
      z-index: 5;
      fill: #FFFFFF;
    }
    @include create-mq(992) {
      &:hover {
        svg {
          fill: #58EDA0;
        }
      }
    }
  }
}

// LINKS ---------

.phone {
  display: flex;
  align-items: center;
  font-weight: 700;
  svg {
    margin: 0 10px 0 0;
    transition: all .2s ease-out;
  }
  a {
    display: flex;
    align-items: center;
    color: #A04B82;
    text-decoration: none;
    transition: all .2s ease-out;
    @include create-mq(992) {
      &:hover {
        color: #52D8C5;
        svg {
          fill: #52D8C5;
        }
      }
    }
  }
}

.link {
  text-decoration: none;
  transition: color .2s ease-out;
  @include create-mq(992) {
    &:hover {
      color: #A04B82;
    }
  }
}