.page-block {
  margin: 0 0 30px 0;
  @include create-mq(768) {
    margin: 0 0 70px 0;
  }
  @include create-mq(992) {
    margin: 0 0 100px 0;
  }
}

.title {
  font-weight: 700;
  font-size: toRem(27);
  color: #A04B82;
  line-height: 100%;
  @include create-mq(768) {
    font-size: toRem(60);
  }
  @include create-mq(992) {
    font-size: toRem(80);
  }
  &_2 {
    font-size: toRem(25);
    line-height: 100%;
    @include create-mq(768) {
      font-size: toRem(50);
    }
    @include create-mq(992) {
      font-size: toRem(50);
    }
  }
  &_3 {
    font-size: toRem(20);
    line-height: 95.9%;
    @include create-mq(768) {
      font-size: toRem(30);
    }
    @include create-mq(992) {
      font-size: toRem(30);
    }
  }
  &_4 {
    font-size: toRem(18);
    line-height: 85.4%;
    @include create-mq(768) {
      font-size: toRem(24);
    }
    @include create-mq(992) {
      font-size: toRem(25);
    }
  }
  &-black {
    color: #000000;
  }
  &-white {
    color: #ffffff;
  }
}

.button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  display: inline-flex;
  box-shadow: toEm(9) toEm(9) toEm(15) rgba(0, 0, 0, 0.15);
  font-size: toRem(15);
  line-height: 100%;
  font-weight: 700;
  padding: toEm(8) toEm(20);
  border-radius: toEm(16);
  transition: all .2s ease-out;
  overflow: hidden;
  letter-spacing: inherit;
  white-space: nowrap;
  height: max-content;
  width: min-content;
  span {
    position: relative;
    z-index: 5;
  }
  @include create-mq(768) {
    font-size: toRem(25);
  }

  &_no-shadow {
    box-shadow: none;
  }
  &_1 {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #BB6A9F;
      transition: all .2s ease-out;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(274.58deg, #52D8C5 39.02%, #C6FFB2 154.14%);
      visibility: hidden;
      opacity: 0;
      transition: all .2s ease-out;
    }
    @include create-mq(992) {
      &:hover {
        &:before {
          opacity: 0;
          visibility: hidden;
        }
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &_2 {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(274.58deg, #52D8C5 39.02%, #C6FFB2 154.14%);
      opacity: 1;
      transition: all .2s ease-out;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #BB6A9F;
      transition: all .2s ease-out;
      opacity: 0;
      visibility: hidden;
    }
    @include create-mq(992) {
      &:hover {
        &:before {
          opacity: 0;
          visibility: hidden;
        }
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &_yellow {
    &:before {
      background: linear-gradient(274.71deg, #FFBD6F 0.94%, #C6FFB2 243.11%);
    }
    &:after {
      background: #BB6A9F;
    }
  }
  &_red {
    &:before {
      background: linear-gradient(279.42deg, #FF6B6B -43.59%, #D6FFC8 267.23%);
    }
    &:after {
      background: #BB6A9F;
    }
  }
  &_blue {
    &:before {
      background: linear-gradient(287.77deg, #7A8EF9 -63.08%, #D6FFC8 248.67%);
    }
    &:after {
      background: #BB6A9F;
    }
  }

  &_video {
    span {
      margin: 0 toEm(7) 0 0;
    }
    svg {
      width: toEm(15);
      height: toEm(15);
      z-index: 5;
    }
  }
}

// LINKS ---------

.phone {
  display: flex;
  align-items: center;
  font-weight: 700;
  svg {
    margin: 0 10px 0 0;
    transition: all .2s ease-out;
  }
  a {
    display: flex;
    align-items: center;
    color: #A04B82;
    text-decoration: none;
    transition: all .2s ease-out;
    @include create-mq(992) {
      &:hover {
        color: #52D8C5;
        svg {
          fill: #52D8C5;
        }
      }
    }
  }
}

.link {
  text-decoration: none;
  transition: color .2s ease-out;
  @include create-mq(992) {
    &:hover {
      color: #A04B82;
    }

  }
}

// FORM------------------------

.form-control {
  position: relative;
  font-size: toEm(15);
  @include create-mq(768) {
    font-size: toRem(24);
  }
  @include create-mq(992) {
    font-size: toRem(25);
  }
  input[type='text'], input[type='number'], textarea {
    font-size: inherit;
    font-family: $base-font;
    color: #BB6A9F;
    padding: 0 toEm(12);
    height: toEm(31);
    outline: none;
    border: none;
    line-height: 100%;
  }
  &.textarea {
    textarea {
      width: 100%;
      height: 125px;
      background: rgba(201, 201, 201, 0.3);
      border-radius: 4px;
      border: 1px solid transparent;
      padding: toEm(8) toEm(12);
      resize: none;
      &::placeholder {
        font-weight: 500;
        font-family: $base-font;
        font-size: toRem(15);
        color: #a9a9a9;
        @include create-mq(768) {
          font-size: toRem(24);
        }
        @include create-mq(992) {
          font-size: toRem(25);
        }
      }
      &:focus {
        background: none;
        border: 1px solid rgba(201, 201, 201, 0.3);
      }
    }
  }

  &.input {
    input {
      width: 100%;
      border-radius: toEm(16);
      border: 1px solid transparent;
      @include create-mq(500) {
        max-width: 220px;
      }
      @include create-mq(768) {
        max-width: 300px;
      }
      &::placeholder {
        font-family: $base-font;
        font-size: toRem(15);
        color: rgba(160, 75, 130, 0.5);
        @include create-mq(768) {
          font-size: toRem(24);
        }
        @include create-mq(992) {
          font-size: toRem(25);
        }
      }
    }
    &_2 {
      display: flex;
      align-items: center;
      input {
        background: rgba(201, 201, 201, 0.3);
        border-radius: 4px;
        &::placeholder {
          color: rgba(0, 0, 0, 0.3);
          font-weight: 500;
        }
        &:focus {
          background: none;
          border: 1px solid rgba(201, 201, 201, 0.3);
        }
      }
    }
  }


  &.search {
    display: inline-block;
    input {
      font-size: toRem(15);
      max-width: toEm(165);
      border-radius: toEm(15);
      padding: toEm(5) toEm(7) toEm(5) toEm(30);
      height: auto;
      @include create-mq(768) {
        font-size: toRem(25);
      }
      &::placeholder {
        font-family: $base-font;
        color: #A7A9AC;
      }
    }
    .icon-search {
      position: absolute;
      left: 7px;
      top: 8px;
      @include create-mq(768) {
        left: 12px;
        top: 13px;
        width: 21px;
        height: 21px;
      }
    }
  }

  &.checkbox {
    label {
      display: flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
    }
    input[type='checkbox'] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &:checked {
        +span::before {
          background-color: #A04B82;
          background-image: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5669 2.25444L4.00879 6.81224C3.67125 7.14983 3.12372 7.14983 2.78586 6.81224L0.432934 4.45913C0.095272 4.12154 0.095272 3.57394 0.432934 3.23628C0.77066 2.89855 1.31815 2.89855 1.65573 3.23615L3.39751 4.97795L7.34392 1.03152C7.68164 0.693793 8.22918 0.694049 8.56677 1.03152C8.90437 1.36918 8.90437 1.91659 8.5669 2.25444Z' fill='%23C6FFB2'/%3E%3C/svg%3E%0A");
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      &:before {
        content: '';
        display: inline-block;
        width: toEm(15);
        height: toEm(15);
        border: 1px solid #A04B82;
        border-radius: 4px;
        margin: 0 toEm(7) 0 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70% 70%;
      }
    }
    &_square {
      margin: 0 15px 15px 0;
      @include create-mq(768) {
        margin: 0 25px 25px 0;
      }
      @include create-mq(992) {
        margin: 0 30px 30px 0;
      }
      input {
        &:checked {
          + span {
            background: #A04B82;
            color: #C6FFB2;
          }
        }
      }
      span {
        display: flex;
        border: 1px solid #A04B82;
        justify-content: center;
        align-items: center;
        font-size: toRem(15);
        font-weight: 500;
        width: toEm(31);
        height: toEm(31);
        border-radius: 4px;
        color: black;
        user-select: none;
        background: #ffffff;
        cursor: pointer;
        @include create-mq(768) {
          font-size: toRem(25);
        }
        &:before {
          display: none;
        }
      }

    }

    &_ring {
      margin: 0 15px 15px 0;
      @include create-mq(768) {
        margin: 0 25px 25px 0;
      }
      @include create-mq(992) {
        margin: 0 30px 30px 0;
      }
      input {
        &:checked {
          + span {
            background: linear-gradient(180deg, #C6FFB2 0%, #52D8C5 100%);
          }
        }
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: toRem(15);
        width: toEm(31);
        height: toEm(31);
        border-radius: toEm(17.5);
        font-weight: 700;
        color: #A04B82;
        user-select: none;
        background: #ffffff;
        cursor: pointer;
        @include create-mq(768) {
          font-size: toRem(25);
        }
        &:before {
          display: none;
        }
      }
    }
    &_ring-2 {
      margin: 0 15px 15px 0;
      @include create-mq(768) {
        margin: 0 25px 25px 0;
      }
      @include create-mq(992) {
        margin: 0 30px 30px 0;
      }
      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked {
          + span {
            background: linear-gradient(180deg, #C6FFB2 0%, #52D8C5 100%);
          }
        }
      }
      span {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        font-size: toRem(15);
        padding: 0 toEm(20);
        height: toEm(31);
        border-radius: toEm(17.5);
        font-weight: 700;
        color: #A04B82;
        user-select: none;
        background-color: #ffffff;
        cursor: pointer;
        @include create-mq(768) {
          font-size: toRem(25);
        }
        &:before {
          display: none;
        }
      }
    }
  }


  &.custom-select {
    position: relative;
    font-size: toRem(15);
    @include create-mq(768) {
      font-size: toRem(20);
    }
    .custom-select__icon {
      position: absolute;
      top: toEm(10);
      right: toEm(10);
      width: toEm(20);
      height: toEm(10);
      pointer-events: none;
      transition: all 0.3s ease-out;
    }
    select {
      cursor: pointer;
      font-weight: 700;
      color: #A04B82;
      background-color: #FFFFFF;
      max-width: toEm(200);
      padding: toEm(10) toEm(40) toEm(10) toEm(10);
      border-radius: toEm(10);
    }
  }


  &.select {
    font-size: toRem(15);
    width: max-content;
    z-index: 6;
    @include create-mq(768) {
      font-size: toRem(25);
    }
    &.open {
      .arrow {
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
      .select__trigger {
        &:before {
          height: toEm(25);
        }
      }
    }

    .select__trigger {
      font-size: inherit;
      border-radius: toEm(15);
      background-color: #ffffff;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: max-content;
      height: toEm(31);
      padding: 0 toEm(20);
      &:before {
        content: '';
        position: absolute;
        background-color: #FFFFFF;
        height: 0;
        width: 100%;
        bottom: -10px;
        left: 0;
        z-index: 20;
      }
      span {
        font-weight: 700;
        color: #a04b82;
        margin: 0 toEm(20) 0 0;
        position: relative;
        z-index: 25;
      }
    }

    .custom-options {
      position: absolute;
      padding: toEm(20) toEm(10);
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      overflow: hidden;
      top: 100%;
      z-index: 10;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 100px;
      min-width: 275px;
      width: max-content;
      background-color: #FFFFFF;
      transition: all .3s ease-out;
      @include create-mq(768) {
        grid-template-columns: 1fr 1fr;
      }
      .form-control {
        margin: 0 0 18px 0;
        &:last-child {
          margin: 0;
        }
      }
    }

    .arrow {
      position: relative;
      z-index: 25;
      font-size: inherit;
      height: toEm(15);
      width: toEm(15);
      &:before, &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: toEm(3);
        border-radius: toEm(1.5);
        height: 100%;
        transition: all 0.3s ease-out;
      }
      &:before {
        left: toEm(-4.5);
        transform: rotate(135deg);
        background-color: #A04B82;
      }
      &:after {
        left: toEm(4.5);
        transform: rotate(-135deg);
        background-color: #A04B82;
      }
    }
  }







  //&.select {
  //  display: grid;
  //  grid-template-areas: "select";
  //  align-items: center;
  //  position: relative;
  //  font-size: toRem(15);
  //  border-radius: toEm(15);
  //  height: toEm(31);
  //  cursor: pointer;
  //  background-color: #ffffff;
  //  width: max-content;
  //  margin: 0 15px 15px 0;
  //  @include create-mq(768) {
  //    margin: 0 25px 25px 0;
  //  }
  //  @include create-mq(992) {
  //    margin: 0 30px 30px 0;
  //  }
  //  @include create-mq(768) {
  //    font-size: toRem(25);
  //  }
  //  &:not(.select--multiple)::after {
  //    content: "";
  //    justify-self: end;
  //    width: toEm(18);
  //    height: toEm(11);
  //    background-image: url("data:image/svg+xml,%3Csvg width='19' height='12' viewBox='0 0 19 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.73887 11.0195C9.41544 11.0195 9.09206 10.8966 8.84548 10.6514L1.08602 2.92996C0.59242 2.43878 0.59242 1.64242 1.08602 1.15144C1.57943 0.660458 2.37956 0.660458 2.8732 1.15144L9.73887 7.98379L16.6046 1.15168C17.0982 0.660697 17.8982 0.660697 18.3916 1.15168C18.8854 1.64266 18.8854 2.43902 18.3916 2.9302L10.6323 10.6516C10.3856 10.8969 10.0622 11.0195 9.73887 11.0195Z' fill='%23A04B82'/%3E%3C/svg%3E%0A");
  //    background-repeat: no-repeat;
  //    background-size: cover;
  //    margin: 0 20px 0 20px;
  //  }
  //  select {
  //    display: none;
  //    font-weight: 700;
  //    color: #A04B82;
  //    margin: 0 toEm(20) 0 0;
  //    padding: 0 toEm(10) 0 toEm(20);
  //    height: 100%;
  //    width: 100%;
  //  }
  //  select,
  //  &::after {
  //    grid-area: select;
  //  }
  //}
}