.contacts {
  &__label {
    font-size: toRem(18);
    font-weight: 500;
    color: #000000c2;
    display: block;
    margin: 0 0 toEm(15, 18) 0;
    @include create-mq(768) {
      font-size: toRem(22);
    }
    @include create-mq(992) {
      font-size: toRem(30);
    }
  }
  &__header {
    display: grid;
    margin: 0 0 30px 0;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-template-areas:
      'title image'
      'phone image';
  }
  &__block {
    font-size: toRem(15);
    position: relative;
    padding: toEm(30) 0;
    margin: 0 0 30px 0;
    @include create-mq(768) {
      font-size: toRem(22);
    }
    @include create-mq(992) {
      font-size: toRem(30);
    }
  }
  &__wave {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__social {
    display: flex;
    svg {
      height: 100%;
    }
  }

  &__adress {
    font-size: toRem(18);
    font-weight: 500;
    color: #000000c2;
    max-width: toEm(250, 18);
    margin: 0 0 toEm(30, 18);
    line-height: 120%;
    @include create-mq(768) {
      font-size: toRem(22);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__link {
    display: block;
    font-size: toRem(15);
    height: toEm(25);
    margin: 0 toEm(20) 0 0;
    transition: all .2s ease-out;
    @include create-mq(768) {
      font-size: toRem(18);
    }
    @include create-mq(992) {
      &:hover {
        transform: scale(1.1);
      }
    }
    &:last-child {
      margin: 0;
    }
  }


  &__title {
    grid-area: title;
    margin: 0 0 30px 0;
  }
  &__title-2 {
    margin: 0 0 toEm(15, 22) 0;
  }
  &__image {
    grid-area: image;
    justify-self: end;
    align-self: end;
    width: 100%;
    max-width: 100px;
    @include create-mq(500) {
      max-width: 130px;
    }
    @include create-mq(768) {
      max-width: 150px;
    }
    @include create-mq(992) {
      max-width: 200px;
    }
    img {
      width: 100%;
    }
  }
  &__phone {
    grid-area: phone;
    display: flex;
    flex-direction: column;
    color: #000000c2;
    font-weight: 500;
    font-size: toRem(18);
    @include create-mq(768) {
      font-size: toRem(22);
    }
    span {
      display: block;
      font-size: inherit;
      margin: 0 0 toEm(10, 18) 0;
    }
    a {
      color: inherit;
      display: block;
      text-decoration: underline;
      text-underline-offset: toEm(2, 18);
      font-weight: 700;
      white-space: nowrap;
      transition: all .2s ease-out;
      line-height: 100%;
      @include create-mq(992) {
        &:hover {
          color: #A04B82;
        }
      }
    }
  }
}