.card-single {
  margin: 15px 0 0 0;
  @include create-mq(768) {
    margin: 30px 0 0 0;
  }
  @include create-mq(992) {
    margin: 30px 0 0 0;
  }


  &__wrapper {
    position: relative;
  }

  &__index {
    font-size: toRem(15);
    font-weight: 700;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    padding: toEm(5) toEm(10);
    background: #58eda0;
    border-radius: toEm(15);
    transform: translateY(-50%);
    @include create-mq(768) {
      font-size: toRem(20);
    }
  }

  &__slider {
    display: grid;
    margin: 0 0 15px 0;
    @include create-mq(768) {
      margin: 0 0 25px 0;
    }
    .swiper {
      padding: 0;
      .swiper-pagination {
        bottom: 10px;
        @include create-mq(768) {
          bottom: 30px!important;
        }
        @include create-mq(992) {
          bottom: 40px!important;
        }
      }
    }
  }

  &__photo {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 toEm(15) 0;
    &_2 {
      align-items: center;
    }
    &_3 {
      justify-content: center;
    }
  }

  &__title {
    flex: 1 0 70%;
    font-size: toRem(25) !important;
    margin: 0 toEm(15, 22) 0 0;
    @include create-mq(768) {
      font-size: toRem(30) !important;
    }
    @include create-mq(992) {
      font-size: toRem(35) !important;
      margin: 0 toEm(200, 35) 0 0;
    }
    &-2 {
      font-size: toRem(22) !important;
      margin: 0 0 toEm(10, 22) 0;
      @include create-mq(768) {
        font-size: toRem(28) !important;
      }
      @include create-mq(992) {
        font-size: toRem(30) !important;
      }

    }
  }

  &__price {
    @include create-mq(768) {
      font-size: toRem(28) !important;
    }
  }

  &__status {
    @include create-mq(768) {
      font-size: toRem(22);
    }
  }
  &__options-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    align-items: flex-end;
    margin: 0 0 15px 0 ;
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #A04B82;
      margin: 15px 0 0 0;
      @include create-mq(600) {
        grid-column: 1 / span 2;
      }
      @include create-mq(768) {
        margin: 30px 0 0 0;
      }
    }
    @include create-mq(600) {
      grid-template-columns: 1fr min-content;
    }
    @include create-mq(768) {
      margin: 0 0 30px 0;
    }

    .button {
      justify-self: left;
      @include create-mq(600) {
        justify-self: right;
      }
    }
  }
  &__options {
    font-size: toRem(15);
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 0 toEm(15) 0;
    @include create-mq(600) {
      margin: 0;
    }
    @include create-mq(768) {
      font-size: toRem(18);
    }
  }
  &__label {
    font-weight: 700;
  }

  &__tags {
    font-size: toRem(15);
    font-weight: 600;
    color: #574C4C;
    margin: 0 0 toEm(10) 0;
    display: flex;
    flex-wrap: wrap;
    @include create-mq(768) {
      font-size: toRem(18);

    }
    @include create-mq(992) {
    }
  }
  &__tag {
    font-size: inherit;
    border: 1px solid #BB6A9F;
    padding: toEm(5, 12) toEm(10, 12);
    border-radius: toEm(15, 12);
    margin: 0 toEm(8, 12) toEm(8, 12) 0;
  }
  &__icon {
    display: flex;
    justify-content: center;
    @include create-mq(992) {
      display: none;
      visibility: hidden;
    }
    svg {
      transition: all .2s ease-out;
      @include create-mq(768) {
        width: 30px;
        height: 17px;
      }
    }
  }

  &__description {
    font-size: toRem(15);
    background-color: #FFFFFF;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 13%);
    padding: toEm(15);
    line-height: 120%;
    border-radius: 10px;
    margin: 0 0 toEm(15) 0;
    @include create-mq(768) {
      margin: 0 0 toEm(30) 0;
    }
    p {
      margin: 0 0 toEm(15) 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__description-wrapper {
    margin: 0 0 toEm(20) 0;
    overflow-y: hidden;
    height: 144px;
    @include create-mq(992) {
      height: auto!important;
    }
    &.open {
      ~ .card-single__icon svg {
        transform: rotate(180deg);
      }
    }
  }
  &__contact {
    display: inline-block;
    color: #000000c2;
    font-weight: 700;
    font-size: toRem(15);
    padding: toEm(8) toEm(20);
    border-radius: toEm(18);
    transition: all .2s ease-out;
    margin: 0 0 30px 0;
    text-decoration: underline;
    text-underline-offset: toEm(2);
    @include create-mq(768) {
      font-size: toRem(18);
    }
    @include create-mq(992) {
      font-size: toRem(22);
      &:hover {
        color: #BB6A9F;
      }
    }
  }
  &__video {
    background-color: #BB6A9F;
    margin: 0 0 30px 0;
    padding: 20px 0 30px 0;
    @include create-mq(768) {
      margin: 0 0 30px 0;
    }
    @include create-mq(992) {
      margin: 0 0 50px 0;
    }
    .container {
      max-width: 800px;
    }
  }
  &__video-container {
    border-radius: 10px;
    overflow: hidden;
  }
  &__order-button {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
    @include create-mq(768) {
      margin: 0 0 50px 0;
    }
  }
  &__map {
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    margin: 0 0 30px 0;
    @include create-mq(768) {
      margin: 0 0 50px 0;
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

}

.share {
  font-size: toRem(15);
  position: relative;
  max-width: toEm(30);
  max-height: toEm(30);
  width: 100%;
  height: 100%;
  @include create-mq(768) {
    font-size: toRem(18);
    max-width: toEm(35);
    max-height: toEm(35);
  }
  &__trigger {
    cursor: pointer;
    @include create-mq(992) {
      &:hover {
        svg {
          transform: scale(1.1);
        }
      }
    }
    svg {
      height: 100%;
      transition: all .2s ease-out;
    }
  }
  &.open {
    .share {
      &__container {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }
  }
  &__container {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .3s ease-out;
    background: #BB6A9F;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: toEm(20) toEm(15);
    border-radius: 25px 0 25px 25px;
    position: absolute;
    right: 70%;
    top: 70%;
    transform: translateY(toEm(25));
    z-index: 6;
    &:before {
      content: '';
      width: toEm(20);
      height: toEm(20);
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='27' height='20' viewBox='0 0 27 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9501 1.53456L0 19.4847H26.4856V5.07009C26.4856 0.615569 21.0999 -1.61526 17.9501 1.53456Z' fill='%23BB6A9F'/%3E%3C/svg%3E%0A");
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: auto;
      top: 0;
      right: 0;
      transform: translateY( calc(-100% + 8px));
    }
  }
  &__social-link {
    height: toEm(25);
    width: auto;
    margin: 0 0 toEm(25) 0;
    &:last-child {
      margin: 0;
    }
    svg {
      height: 100%;
    }
  }
}


.rieltor-block {
  position: relative;
  margin: 0 0 15px 0;
  background-color: #BB6A9F;
  @include create-mq(550) {
    background: none;
  }
  @include create-mq(768) {
    margin: 0 0 30px 0;
  }
  &:before {
    content: "";
    position: absolute;
    background-color: #BB6A9F;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    @include create-mq(992) {
      display: none;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 15px 0;
    align-items: start;

    @include create-mq(550) {
      padding: 0;
      background-color: #FFFFFF;
      grid-template-columns: minmax(auto, 280px) 1fr;
    }
    @include create-mq(768) {
      grid-template-columns: minmax(auto, 300px) 1fr;
      grid-column-gap: 30px;
    }
    @include create-mq(992) {
      grid-template-columns: minmax(auto, 330px) 1fr;
    }
  }
  &__contacts {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #BB6A9F;
    grid-row-gap: 15px;
    border-bottom: 1px solid white;
    padding: 0 0 20px 0;
    @include create-mq(550) {
      padding: toEm(15) toEm(15) toEm(20) toEm(0);
      border-radius: 0 10px 10px 0;
      border: none;
    }
    @include create-mq(768) {
      padding: toEm(20) toEm(30) toEm(30) toEm(0);
    }
    @include create-mq(992) {
      padding: toEm(20) toEm(30) toEm(30) toEm(20);
    }
  }
  &__block {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  &__name {
    font-size: toRem(18);
    font-weight: 700;
    color: #FFFFFF;
    line-height: 120%;
    @include create-mq(768) {
      font-size: toRem(20);
    }
  }
  &__phone {
    justify-self: left;
    font-size: toRem(15);
    font-weight: 700;
    color: #A04B82;
    background-color: #FFFFFF;
    display: inline-block;
    padding: toEm(5) toEm(10);
    border-radius: toEm(15);
    @include create-mq(768) {
      font-size: toRem(18);
    }
  }
  &__actions {
    display: grid;
    grid-row-gap: 15px;
    justify-content: left;
  }
  &__button {
    font-size: toRem(13);
    width: min-content;
    justify-content: left;
    display: inline-flex;
    white-space: nowrap;
  }
}