extends ../layout/main

block variables
  - var titlePage = "About us"


block page
  .about.page-block
    .container
      h1(data-aos="zoom-in-right").contacts__title.title Про нас
    include ../modules/who-we
    include ../modules/why-we
    include ../modules/less-objects
    include ../modules/not-pay-more
    include ../modules/photo-not-fit
    include ../modules/sequiruty
    include ../modules/more-garantie

    include ../modules/team


  include ../modules/modals
