extends ../layout/main

block variables
  - var titlePage = "About us"


block page
  .about.page-block
    include ../modules/who-we
    include ../modules/why-we
    include ../modules/less-objects
    include ../modules/not-pay-more
    include ../modules/photo-not-fit
    include ../modules/sequiruty
    include ../modules/more-garantie

    include ../modules/team


  include ../modules/modals
