extends ../layout/main

block variables
  - var titlePage = "Home page"

block page
  include ../modules/main-screen
  include ../modules/flat-search
  include ../modules/interesting
  include ../modules/viewed


  include ../modules/modals

